


{%extends 'base2.html' %}
{% load crispy_forms_tags%}
{%block title %} Home{%endblock title %}


{%block content %}





<div class="container-lg">
   
      
  
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for ingredient in ingredients%}
        <div class="accordion-item">
           

          <h2 class="accordion-header{{ingredient_id}}" id="{{ingredient_id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ingredient_id}}" aria-expanded="false" aria-controls="flush-collapse{{ingredient_id}}">
                {{ingredient.category}}
            </button>
          </h2>
          <div id="flush-collapse{{ingredient_id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ingredient_id}}" >
            <div class="accordion-body">{{ingredient.ingredient_name}} <br> </div>
          </div>
 
        </div>
        {% endfor %}

      </div>

</div>








{%endblock content%}