{%extends 'base.html' %}
{% load crispy_forms_tags%}
{%block title %} create {%endblock title %}


<!-- block -->
{%block content %}





  <div class="container py-3 h-70">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://i.pinimg.com/originals/4a/b7/ac/4ab7ac41388a38042471c9874b88e003.jpg"
                alt="login form" class="img-fluid"  style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-3 p-lg-10 text-black">

                <form ></form>
                <div class="container">
                  <div class="d-md-inline-flex p-2">
                    <form action="{%url 'register' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}{{form | crispy}}
                    
                    <input type="submit" class="btn btn-success btn-lg btn-block" style=" width:100%" value="Register new User"/>
                    <!-- <a class="btn btn-success btn-lg btn-block" style=" width:100%"  value="Register new User" type="submit">Register</a> -->

                    </form>
                    
                </div>
                </div>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    
{%endblock content%}